.clearfix::before,
.clearfix::after {
	content: "";
	clear: both;
	display: table;
} /*清除浮动*/

/* 导航栏开始 */
.nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 48px;
	background-color: #0063B1;
	z-index: 10000;
}

.nav-content {
	width: 1366px;
	height: 48px;
	line-height: 48px;
	margin: 0 auto;
}

.nav-left,
.nav-center,
.nav-center-text,
.nav-list {
	float: left;
    line-height: 48px;
}

.nav-left {
	margin-left: 24px;
	margin-right: 516px;
    color: #fff;
	font-size: 20px;
}

.nav-center {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 8px;
}

.nav-center-text {
	margin-right: 364px;
    color: #fff;
    font-size: 20px;
}

.nav-right {
	float: right;
    height: 48px;
    line-height: 48px;
    margin-right: 24px;

}

.nav-list {
	width: 48px;
	height: 48px;
	margin: 0 6px;
}

.nav-list img {
	margin: 12px;
}

.nav-list:hover,
.nav-list:link,
.nav-list:visited {
	background-color: #0099BC;
}
/* 导航栏结束 */
