* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Microsoft YaHei"；
   }

body {
	margin: 0 auto;
	width: 1366px;
}

.clearfix::before,
.clearfix::after {
	content: "";
	clear: both;
	display: table;
} /*清除浮动*/

/* 导航栏开始 */
.nav {
	position: fixed;
	top: 0;
	margin: 0 auto;
	width: 1366px;
	height: 48px;
	background-color: #0063B1;
}

.nav-left,
.nav-center,
.nav-center-text,
.nav-right,
.nav-list {
	float: left;
    line-height: 48px;
}

.nav-left {
	margin-left: 24px;
	margin-right: 516px;
    color: #fff;
	font-size: 20px;
}

.nav-center {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 8px;
}

.nav-center-text {
	margin-right: 364px;
    color: #fff;
    font-size: 20px;
}

.nav-right {
    height: 48px;

}

.nav-list {
	width: 48px;
	height: 48px;
	margin: 0 6px;
}

.nav-list img {
	margin: 12px;
}

.nav-list:hover,
.nav-list:link,
.nav-list:visited {
	background-color: #0099BC;
}
/* 导航栏结束 */

/*搜索工具开始*/
.main {
	width: 1366px;
	height: 100%;
	margin-top: 100px;
	padding: 0 24px;
}

/*sidebar 开始*/
.sidebar {
	float: left;
	width: 264px;
}

.sidebar h1 {
	margin: 0;
	padding: 0;
	font-size: 34px;
	font-weight: normal;
	font-family: "微软雅黑"
	color: #333;
}

.sidebar h2 {
	margin-top: 48px;
	margin-bottom: 0;
	font-weight: normal;
	font-size: 20px;
	color: #333;	
}

.search {
	position: relative;
}

.search input {
	float: left;
	width: 264px;
	height: 36px;
	margin-top: 12px;
	padding: 0 28px 0 0;
	border: 1px solid #aeaeae;
	/*background: url(../images/sidebar-search.png) no-repeat right center;*/
}

.search img {
	position: absolute;
	top: 18px;
	right: 2px;
	display: inline-block;
}

.search img:hover {
	cursor: pointer;
}

.resetbtn {
	text-align: center;
	width: 176px;
	height: 40px;
	line-height: 40px;
	background-color: #0c0;
	margin-top: 74px;
}

.resetbtn a {
	text-decoration: none;
	color: #fff;
}

/*select-box 筛选盒子*/
.select {
	margin-top: 24px;
}

.select-box {
	height: auto;
	margin-top: 38px;
}

.select-title span {
	font-size: 20px;
	color: #333;
}
.select-title img {
	margin-left: 19px;
}

.table {
	display: none;
	width: 264px;
	margin-top: 17px;
}

.tr {
	height: 36px;
	line-height: 36px;
    margin-bottom: 12px;
}

.tr label {
	display: inline-block;
	width: 61px;
	text-align: left;
	font-size: 15px;
	font-weight: bold;
}

.tr select {
	display: inline-block;
    margin-left: 14px;
}

.tr select,
.tr option {
	width: 184px;
	height: 36px;
	font-size: 15px;
}

/*搜索结果*/
.result {
	float: left;
	width: 768px;
	height: auto;
	padding-left: 72px;
}

.result-nav {
	width: 696px;
	height: 39px;
}

.result-nav h1 {
	float: left;
	margin: 0;
	padding: 0;
	font-size: 34px;
	font-weight: normal;
	font-family: "微软雅黑"
	color: #333;
}

.result-nav p {
	float: right;
	margin-top: 18px;
	margin-bottom: 0;
}

.result-nav span {
	font-weight: bold;
	color: #0c0;
}

.product {
	width: 100%;
	height: 162px;
	border-bottom: 1px solid #ccc;
}

.product-box {
	margin-top: 54px;
	width: 100%;
	height: 88px;
}

.insurer-img,
.product-text {
	float: left;
}

.insurer-img {
	height: 88px;
	border: 8px solid #0099BC;
}

.product-text {
	width: 450px;
	margin-left: 40px;
}

.product-text h2 {
	margin: 10px 0;
	padding: 0;
	font-size: 24px;
	font-weight: normal;
}

.product-text table {
	border-collapse: collapse;
	margin-top: 22px;
	width: 450px;
}

.tdyear {
	text-align: right;
}

.favorite {
	float: right;
	margin-top: 54px;
}

/*页码*/
.page-num-box {
	margin-top: 70px;
	margin-bottom: 128px;
	margin-left: 60px;
}

.page-num {
	float: left;
	width: 48px;
	height: 48px;
	line-height: 48px;
	text-align:center;
	margin-right: 40px;
}

.selected-page-num {
	border-bottom: 3px solid #333;
}

.page-num img {
	vertical-align: middle;
}

.page-num {
	text-decoration: none;
	color: #333;
	font-size: 15px;
}

.page-num:hover {
	background-color: #f2f2f2;
	cursor: pointer;
}

.add-bookmark:hover {
	cursor: pointer;
}

.rm-bookmark:hover {
	cursor: pointer;
}
